<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utwórz grupę</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'costs/styles.css' %}">
    <style>
        body {
            flex-direction: column;
        }
        .container {
            max-width: 600px;
            margin-top: 80px; 
        }
        label {
            margin-bottom: 5px; 
        }
        .btn-submit {
            padding: 15px 20px; 
            font-size: 20px; 
            width: 100%;
            margin-top: 15px; 
        }
    </style>
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'group_list' %}" class="btn home-btn">
            <i class="fas fa-home"></i> Strona główna
        </a>
        
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn logout-btn">Wyloguj</button>
        </form>
    </nav>


    <div class="container">
        <h2>Utwórz grupę</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="group_name">Nazwa grupy:</label>
                <input type="text" class="form-control" id="group_name" name="group_name" required>
            </div>
            <button type="submit" class="btn btn-submit">Utwórz</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
