<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuwanie kosztu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'costs/styles.css' %}">
    <style>
        body {
            flex-direction: column;
        }
        .container {
            max-width: 600px;
            margin-top: 80px; 
        }
        p {
            margin-bottom: 30px; 
            font-size: 18px; 
        }
        .btn-submit {
            padding: 15px 20px; 
            font-size: 20px;
            margin-top: 15px; 
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Usuń koszt</h1>
        <p>Czy na pewno chcesz usunąć ten koszt?</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-submit">Tak, usuń</button>
        </form>

        <a href="{% url 'costs_list' group_id %}" class="back-link">Powrót do listy kosztów</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
