<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona logowania</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'costs/styles.css' %}">
    <style>
        .container {
            max-width: 600px;
            background-color: #FFF7AD;
            box-shadow: none;
        }
        h1 {
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Witaj w aplikacji dla współlokatorów!</h1>
        <div class="btn-group">
            <a href="{% url 'login' %}" class="btn btn-custom-primary">Logowanie</a>
            <a href="{% url 'register' %}" class="btn btn-custom-secondary">Rejestracja</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
