<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'costs/styles.css' %}">
    <style>
        .container {
            max-width: 600px;
        }
        .form-box {
            background-color: #fff7f4;
            max-width: 400px; 
        }
        .btn-submit {
            padding: 15px 20px; 
            font-size: 20px; 
            margin-top: 15px;
            width: 100%;
        }
        .form-text {
            margin-top: 0; 
            margin-bottom: 15px;
            font-size: 0.9em; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Rejestracja</h1>
        <div class="form-box">
            <form method="POST">
                {% csrf_token %}
                
                <label for="username">{{ form.username.label }}</label>
                {{ form.username }}
                {{ form.username.errors }}

                <label for="email">{{ form.email.label }}</label>
                {{ form.email }}
                {{ form.email.errors }}

                <label for="password1">{{ form.password1.label }}</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
                <small class="form-text text-muted">Hasło musi mieć minimum 8 znaków.</small>

                <label for="password2">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {{ form.password2.errors }}

                <button type="submit" class="btn btn-submit">Zarejestruj się</button>
            </form>
        </div>
        <a href="{% url 'login' %}" class="login-link">Masz już konto? Zaloguj się!</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
